<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Conference&nbsp; Venue</h1>
</header>


<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center fs-6">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
            
            <p class="lh-base">
                IIHMSP 2024 will be held with ISME 2024 in Matsue City, Japan.<br>
                For detailed conference venue, accommodation and transportation guidelines, please refer to the information announced on the ISME 2024 official website<br>
            <a href="http://www.wcicme.com/Intconference/ISME2024/">http://www.wcicme.com/Intconference/ISME2024/</a> 
            </p>
            
            <!-- <p class="lh-lg">
                Sincerely,<br>
                Jimmy Ming-Tai Wu, Shih-Pang Tseng, Yendeng Huang and Fuquan Zhang<br />
                Invited Session Chairs<br />
            </p> -->
        </section>
    </article>
   
<div>
</div>