<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Conference&nbsp;Registration</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center px-2">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 fs-6">
            <p class="lh-base">
                Dear attendees,
            </p>
            <p class="lh-base">
                We would like to express our appreciation and congratulation for the distinguished works you had contributed to IIHMSP 2024. Please follow the following instructions to accomplish the required procedures for conference registration.
            </p>
            <p class="lh-base">
                All conference participants must pay the conference registration fee. For each accepted paper, at least one author must pay the registration fee and present the paper at the conference.The registration fee for IIHMSP 2024 is USD 500.
                Registration forms, payment information and copyright form will be announced after the notification of paper acceptance.
            </p>
            <p class="lh-base">
            <ul>
                <li><a href="./assets/datas/IIHMSP-2024_Registration_Form.doc">IIHMSP-2024 Registration Form</a></li>
                <li><a href="./assets/datas/IIHMSP-2024_Instruction_payment by credit card.pdf">Instruction for Pay by Credit Card</a></li>
                <!-- <li><a href="./assets/datas/VTCA-2024-Copyright_Form.docx">VTCA-2024-Copyright_Form</a></li> -->
            </ul>
            </p>
            <p class="lh-base">
                Please feel free to let us know if you have any problem regarding the conference registration. Thank you again for your contribution to IIHMSP 2024.
            </p>
            <p class="lh-base">
                Sincerely,<br>
                Yun-Chi Huang,<br>
                Finance Chair of IIHMSP 2024<br>
                <a href="mailto:iihmsp24@gmail.com">iihmsp24@gmail.com</a><br>
                <a href="https://iihmsp24.github.io">https://iihmsp24.github.io</a>, <a href="https://bit.nkust.edu.tw/~iihmsp24">https://bit.nkust.edu.tw/~iihmsp24</a>

            </p>
        </section>
    </article>
</div>