<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">NEWS</h1>
</header>
<div class="container ps-3 pe-3">
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2024-09-25 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>Accepted Papers , Conference program updated</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2024-09-18 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>Conference program updated</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2024-09-18 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>Keynote updated</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2024-08-29 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>Accepted Paper updated</p>
        </article>
    </div>
    <hr class="m-0" />
</div>
<div class="container ps-3 pe-3">
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2024-08-08 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>Invited Session updated</p>
        </article>
    </div>
    <hr class="m-0" />
</div>

<div class="container ps-3 pe-3">
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2024-07-14 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>Call for paper, Organizing Committee information updated</p>
        </article>
    </div>
    <hr class="m-0" />
</div>
<div class="container ps-3 pe-3">
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2024-05-13 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>Keynote speech updated</p>
        </article>
    </div>
    <hr class="m-0" />
</div>
<div class="container ps-3 pe-3">
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-12-15 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>The website has been launched.</p>
        </article>
    </div>
    <hr class="m-0" />
</div>
